version: '3.8'

# ----------------------------------------------------------------------
# SERVICES
# ----------------------------------------------------------------------
services:
  # DISCOVERY SERVER (EUREKA)
  discovery-server:
    build:
      context: ./discovery-server
      dockerfile: Dockerfile
    image: discovery-server:latest
    container_name: discovery-server
    ports:
      - "8761:8761" 
    networks:
      - ms-network

  # USER SERVICE
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    image: user-service:latest
    container_name: user-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8091
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/banking_user_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=user_service
      - SPRING_DATASOURCE_PASSWORD=user123
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - ms-network
    ports:
      - "8091:8091"
      - "5051:5051"
  
  # PAYMENT SERVICE
  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    image: payment-service:latest
    container_name: payment-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8092
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/banking_payment_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=payment_service
      - SPRING_DATASOURCE_PASSWORD=payment123
      # Kafka Producer Configuration
      - SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS=kafka-broker:9092
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - ms-network
    ports:
      - "8092:8092"
      - "5005:5005"
      
  # HISTORY SERVICE
  history-service:
    build:
      context: ./history-service
      dockerfile: Dockerfile
    image: history-service:latest
    container_name: history-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8093
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/banking_history_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=history_service
      - SPRING_DATASOURCE_PASSWORD=history123
      # Kafka Producer Configuration
      - SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS=kafka-broker:9092
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - ms-network
    ports:
      - "8093:8093"

  #  BATCH SERVICE
  batch-service:
    build:
      context: ./batch-service
      dockerfile: Dockerfile
    image: batch-service:latest
    container_name: batch-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8093
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/banking_batch_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=batch_service
      - SPRING_DATASOURCE_PASSWORD=batch123
      # Kafka Producer Configuration
      - SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS=kafka-broker:9092
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - ms-network
    ports:
      - "8094:8094"

  # API GATEWAY
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: api-gateway:latest
    container_name: api-gateway
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8080
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    networks:
      - ms-network
    ports:
      - "8080:8080"
      - "5050:5050"
    depends_on:
      - discovery-server
      - user-service
      - payment-service
      - history-service
      - batch-service
      - redis

  # KAFKA CLUSTER (Zookeeper & Broker)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0 
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - ms-network

  kafka-broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-broker
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - ms-network

  # DATABASE CLUSTER (MySQL)
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ms-network

  # REDIS SERVICE
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ms-network


# ----------------------------------------------------------------------
# NETWORKS and VOLUMES definitions
# ----------------------------------------------------------------------
networks:
  ms-network:
    driver: bridge

volumes:
  mysql_data: