server:
  port: 8080

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: redis
      port: 6379

  cloud:
    gateway:
      routes:

        # ================== USER SERVICE ==================
        - id: user-service-public
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**,/v3/api-docs/user-service/**
          filters:
            - RewritePath=/v3/api-docs/user-service/(?<segment>.*), /v3/api-docs/user-service/${segment}
            - RemoveRequestHeader=Authorization

        - id: user-service-protected
          uri: lb://user-service
          predicates:
            - Path=/api/users/**,/api/auth/change-password,/api/auth/forgot-password, /api/auth/reset-password
          filters:
            - PreserveHostHeader
            - RemoveRequestHeader=Cookie


        # ================== PAYMENT SERVICE ==================
        - id: payment-service-public
          uri: lb://payment-service
          predicates:
            - Path=/v3/api-docs/payment-service/**
          filters:
            - RewritePath=/v3/api-docs/payment-service/(?<segment>.*), /v3/api-docs/payment-service/${segment}
            - RemoveRequestHeader=Authorization
        
        - id: payment-service-protected
          uri: lb://payment-service
          predicates:
            - Path=/api/payment/**
          filters:
            - PreserveHostHeader
            - RemoveRequestHeader=Cookie

        # ================== HISTORY SERVICE ==================
        - id: history-service-public
          uri: lb://history-service
          predicates:
            - Path=/v3/api-docs/history-service/**
          filters:
            - RewritePath=/v3/api-docs/history-service/(?<segment>.*), /v3/api-docs/history-service/${segment}
            - RemoveRequestHeader=Authorization

        - id: history-service-protected
          uri: lb://history-service
          predicates:
            - Path=/api/admin/history/**, /api/history/**
          filters:
            - PreserveHostHeader
            - RemoveRequestHeader=Cookie

        # ================== BATCH SERVICE ==================
        - id: batch-service-public
          uri: lb://batch-service
          predicates:
            - Path=/v3/api-docs/batch-service/**
          filters:
            - RewritePath=/v3/api-docs/batch-service/(?<segment>.*), /v3/api-docs/batch-service/${segment}
            - RemoveRequestHeader=Authorization

        - id: batch-service-protected
          uri: lb://batch-service
          predicates:
            - Path=/api/batch/**
          filters:
            - PreserveHostHeader
            - RemoveRequestHeader=Cookie


  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisReactiveAutoConfiguration

# -------------------- SWAGGER CONFIG --------------------
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui/index.html
    display-request-duration: true
    persistAuthorization: true
    urls:
      - name: User Service
        url: /v3/api-docs/user-service
      - name: Payment Service
        url: /v3/api-docs/payment-service
      - name: History Service
        url: /v3/api-docs/history-service
      - name: Batch Service
        url: /v3/api-docs/batch-service

# -------------------- EUREKA CONFIG --------------------
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.server: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.server: DEBUG