server:
  port: 8080

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: redis
      port: 6379

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/v3/api-docs/user-service/**,/api/auth/**,/api/password/**,/api/users/**

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/v3/api-docs/payment-service/**,/api/payments/**

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisReactiveAutoConfiguration

# -------------------- SWAGGER CONFIG --------------------
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui/index.html
    display-request-duration: true
    persistAuthorization: true
    urls:
      - name: User Service
        url: /v3/api-docs/user-service
      - name: Payment Service
        url: /v3/api-docs/payment-service

# -------------------- EUREKA CONFIG --------------------
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka