server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # ======================
        # USER SERVICE
        # ======================
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**,/api/password/**,/api/users/**
        
        # ======================
        # PAYMENT SERVICE
        # ======================
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
        
        # ======================
        # HISTORY SERVICE
        # ======================
        - id: history-service
          uri: lb://history-service
          predicates:
            - Path=/api/histories/**

# -------------------- SWAGGER CONFIG --------------------
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: user-service
        url: /v3/api-docs/user-service
      - name: payment-service
        url: /v3/api-docs/payment-service
      - name: history-service
        url: /v3/api-docs/history-service

# -------------------- EUREKA CONFIG --------------------
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka