server:
  port: 8093
spring:
  application:
    name: history-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  endpoints:
    web:
      exposure:
        include: "health,info"